// Light
@base2: #eee8d5;
@base3: #fdf6e3;
@base00: #657b83;
@base01: #586e75;

// Dark
@base02: #073642;
@base03: #002b36;
@base0: #839496;
@base1: #93a1a1;

// Accent
@green: #859900;

// Link
@blue: #268b62;
